@import "../../../scss/constants.scss";

.wrapper {
  height: 100vh;
  width: 100%;
  background: $primary-blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;
  overflow-y: scroll;
  display: none;
}

.innerContainer {
  max-width: 320px;
  margin: auto;
}

.active {
  display: block;
}

.activateContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.activateFormButton {
  border-radius: 47.5px;
  box-shadow: 0 5px 7px 0 rgba(92, 71, 188, 0.22);
  background-color: #5045fd;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 20px 40px;
  border: 0;
  margin-top: 0px;
  cursor: pointer;

  &:hover {
    background-color: #6078ff;
    box-shadow: 0 2px 7px 0 rgba(92, 71, 188, 0.22);
  }
}

.container {
  margin: 80px auto;
  max-width: calc(600px - 10%);
  width: 90%;
}

.phoneNumberContainer {
  display: flex;
  justify-content: center;
}

.messageTypeContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.submitContainer {
  display: flex;
  justify-content: center;
}

.privacyContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.back {
  background: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.backIcon {
  padding-bottom: 3px;
  padding-right: 6px;
}

.countrySelect {
  width: 120px;
  border-radius: 23px;
  box-shadow: 0 5px 7px 0 rgba(92, 71, 188, 0.22);
  border: solid 2px #ffffff;
  display: block;
  background: rgba(0, 0, 0, 0);
  background-image: url("./dropdown.svg");
  background-repeat: no-repeat;
  background-position: 80% 12px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding: 5px 20px;
  appearance: none;
  margin-top: 8px;
  margin-bottom: 15px;

  &::-ms-expand {
    display: none;
  }

  option {
    background: $primary-blue;
    color: $primary-color;
  }
}

.contactNumber {
  max-width: 300px;
  border-radius: 24px;
  box-shadow: 0 5px 7px 0 rgba(92, 71, 188, 0.22),
    inset 1px 1px 1px 0 rgba(52, 57, 85, 0.5);
  background-color: #ffffff;
  background-image: url("./phoneIcon.svg");
  background-repeat: no-repeat;
  background-position: 14px 18px;
  border: 0;
  padding: 11px 11px 11px 38px;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3b3b4d;
}

.messageTypeInput {
  opacity: 0;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px;
}

.byline {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.shareDisclaimer {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.countryLabel {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.messageTypeChoiceLabel {
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
}

.messageTypeLabel {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 10px;
  cursor: pointer;

  &::before {
    content: "";
    margin-right: 6px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    box-shadow: 0 5px 7px 0 rgba(92, 71, 188, 0.22);
    border: solid 2px #ffffff;
    opacity: 1;
    display: inline-block;
  }
}

.checked {
  &::before {
    content: "";
    margin-right: 6px;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    box-shadow: 0 5px 7px 0 rgba(92, 71, 188, 0.22);
    border: solid 2px #ffffff;
    background-color: #ffffff;
    opacity: 1;
    display: inline-block;
  }
}

.submit {
  border-radius: 27px;
  box-shadow: 0 5px 7px 0 rgba(92, 71, 188, 0.22);
  border: solid 2px #ffffff;
  background-color: #ffffff;
  padding: 9px 64px;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5045fd;
  cursor: pointer;
}

.privacyLabel {
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: auto;

  a {
    color: #ffbf58;
  }
}

.submitting {
  color: #ffbf58;
}

.success {
  color: #24a890;
}

.failure {
  color: rgb(189, 13, 13);
}
