@import "../../../scss/constants.scss";

.container {
  max-width: calc(600px - 10%);
  margin: 60px auto;
  width: 90%;
}

.subDetails {
  list-style: none;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #3b3b4d;
  margin: 0;
  margin-bottom: 50px;
}

.detail,
.source {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3b3b4d;

  a {
    color: #1a73e8;
  }
}
