@import "../../../scss/constants.scss";

.container {
  max-width: calc(600px - 10%);
  margin: 60px auto;
  width: 90%;

  p,
  .subHeading {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3b3b4d;
    margin-top: 0;
  }

  .subHeading {
    font-weight: bold;
    margin-bottom: 0;
  }

  a {
    color: #1a73e8;
  }

  b {
    font-weight: bold;
  }
}

.heading {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #3b3b4d;
  margin: 0;
  margin-bottom: 50px;
}

.byline {
  opacity: 0.8;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5045fd;
  margin-bottom: 50px;
}
