@import "./constants.scss";
@import "./mixins.scss";

body {
  font-family: "circe-rounded", sans-serif;
  background-color: #f7f6fa;
  font-style: normal;
}

a {
  color: #1a73e8;
}

// @font-face {
//   font-family: Fieldwork;
//   font-display: normal;
//   font-weight: 500;
//   src: url("") format("opentype");
// }

// @font-face {
//   font-family: Fieldwork;
//   font-display: normal;
//   font-weight: 600;
//   src: url("") format("woff");
// }
