@import "../../../../scss/constants.scss";

.innerContentContainer {
  ul {
    padding-left: 18px;
    list-style: none;
  }

  p {
    font-size: 16px;
    color: #3b3b4d;
  }

  li {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3b3b4d;
    line-height: 18px;
    margin: 5px 0;

    &:before {
      content: "•";
      font-size: 30px;
      display: inline-block;
      width: 12px;
      margin-left: -12px;
    }

    b {
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.byline {
  opacity: 0.8;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3b3b4d;
  margin: 0;
  margin-bottom: 50px;
}

.warning {
  .byline,
  .detail {
    color: white;
  }
}
